<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>{{ site.name }}</title>
	{% include win95.html %}
	<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
	<div class="wrapper">
		<div class="default_title">
			<img src="/_includes/mycomputer.png" />
			{% if page.tag %}
				<h1>{{ page.tag }}</h1>
			{% else %}
				<h1>{{ site.name }}</h1>
			{% endif %}
		</div>
		{% include topbar.html %}
		<div class="post_list">
			{% unless page.date%}
				{% if page.title == 'me' or page.title == '404...' %}
					<ul>
						{% for post in site.posts %}
						<li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/_includes/file.ico" title="{{ post.title }}" />{{ post.title }}</a></li>
						{% endfor %}
					</ul>
				{% else %}
					{{ content }}
				{% endif %}
			{% else %}
				<ul>
					{% for post in site.posts %}
					<li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/_includes/file.ico" title="{{ post.title }}" />{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			{% endunless %}
		</div>
		<div class="post_total">
			{% if page.tag %}
				<div class="left">{{ site.tags[page.tag] | size }} object(s)</div>
			{% else %}
				<div class="left">{{ site.posts | size }} object(s)</div>
			{% endif %}
			<div class="right">&nbsp;</div>
		</div>
	</div>
	{% if page.title %}
        <div class="content">
			<div class="post_title">
				<img src="/_includes/file.png" />
				<h1>{{  page.title  }}</h1>
				<a href="/"><div class="btn"><span class="fa fa-times"></span></div></a>
				<div class="btn btn_max"><span class="fa fa-window-maximize"></span></div>
				<div class="btn"><span class="fa fa-window-minimize"></span></div>
			</div>
			<ul class="topbar">
				<li>{{ page.date | date: '%B %-d, %Y' }}</li>
			</ul>
			<div class="post_content">
        		{{ content }}
			</div>
		</div>
    {% endif %}
	<script src="/assets/js/001.js"></script>
	<script src="/assets/js/002.js"></script>
</body>
</html>
